@page "/allhankelahetused"
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager

<div class="main">
    @if (pagedItems?.List == null || dropdowns == null)
    {
        <p class="m-2">Loading...</p>
    }
    else
    {
        <div class="container">

            <DeliveryListHeaderComponent Title="@title">
                <SelectControl class="form-control" Title="Kõik laod" Values="@dropdowns.FromLocations"
                               @bind-Value="@options.FromLocationId" OnChangeCallback="@(() => UpdateList())" />

                <DocumentStatusSelectControl class="form-control ml-2" @bind-Value="@options.IsClosed"
                                             OnChangeCallback="@(() => UpdateList())" />
            </DeliveryListHeaderComponent>


            <PagedTableControl PagedItems="@pagedItems" TItem="DeliveryListItemDto" Context="shipment"
                               ItemSelected="@((item) => HandleItemSelected(item))"
                               PageChanged="@((cp) => HandlePageChanged(cp))">
                <TableHeader>
                    <th>Nr.</th>
                    <th>Saatja ladu</th>
                    <th>Saaja</th>
                    <th>Kuupäev</th>
                    <th>Olek</th>
                </TableHeader>
                <RowTemplate>
                    <td style="width: 15%">@shipment.DeliveryNo</td>
                    <td style="width: 30%">@shipment.FromLocationName</td>
                    <td style="width: 30%">@shipment.ToLocationName</td>
                    <td style="width: 15%">@shipment.DeliveryDate.ToShortDateString()</td>
                    <td style="width: 10%">@shipment.StatusName</td>
                </RowTemplate>
            </PagedTableControl>

        </div>
    }
</div>

@code {
    private PagedList<DeliveryListItemDto> pagedItems;
    private DeliveryDropdowns dropdowns;
    private DeliveryListOptions options = new DeliveryListOptions { PageSize = 13 };
    private string title = "Allhanketagastuse lähetused";

    protected override async Task OnInitializedAsync()
    {
        dropdowns = await ServiceProvider.GetService<IDeliveryDropdownsService>().GetOutsourcingShipmentDropdowns();
        UpdateList();
    }

    private void UpdateList(int currentPage = 1)
    {
        options.CurrentPage = currentPage;
        pagedItems = ServiceProvider.GetService<IOutsourcingDeliveryService>().ShipmentFilterPage(options);
    }

    private void HandlePageChanged(int currentPage)
    {
        UpdateList(currentPage);
        StateHasChanged();
    }

    private void HandleItemSelected(DeliveryListItemDto item)
    {
        NavManager.NavigateTo($"allhankelahetus/{item.DeliveryNoteId}");
    }
}
