@page "/allhanketarned"
@inject IServiceProvider ServiceProvider

<div class="main">
    <ReceiptListComponent Title="@title" PagedReceipts="@pagedReceipts" Dropdowns="@dropdowns"
                          Options="@options" OptionsChanged="@((p) => UpdateList(p))" />
</div>


@code {
    private PagedList<ReceiptListItemDto> pagedReceipts;
    private ReceiptDropdowns dropdowns;
    private ReceiptListOptions options = new ReceiptListOptions { PageSize = 13 };
    private string title = "Allhanke tarned";

    protected override async Task OnInitializedAsync()
    {
        dropdowns = await ServiceProvider.GetService<IReceiptDropdownsService>().GetOutSourcingReceiptDropdowns();
        UpdateList(options);
    }

    private void UpdateList(ReceiptListOptions options)
    {
        pagedReceipts = ServiceProvider.GetService<IOutsourcingReceiptService>().FilterPage(options);
    }
}
