@page "/ostutarned"
@inject NavigationManager NavManager
@inject IServiceProvider ServiceProvider
@implements IDisposable

<div class="main">
    @if (pagedReceipts?.List == null || dropdowns == null)
    {
        <p class="m-2">Loading...</p>
    }
    else
    {
        <div class="container">

            <DeliveryListHeaderComponent Title="@title">
                <SelectControl class="form-control" Title="Kõik laod" Values="@dropdowns.ToLocations"
                               @bind-Value="@options.ToLocationId" OnChangeCallback="@(() => HandleOptionsChanged())" />

                <DocumentStatusSelectControl class="form-control ml-2" @bind-Value="@options.IsClosed"
                                             OnChangeCallback="@(() => HandleOptionsChanged())" />
            </DeliveryListHeaderComponent>


            <PagedTableControl PagedItems="@pagedReceipts" TItem="DeliveryListItemDto" Context="receipt"
                               ItemSelected="@((item) => HandleItemSelected(item))"
                               PageChanged="@((cp) => HandleOptionsChanged(cp))">
                <TableHeader>
                    <th>Nr.</th>
                    <th>Saaja ladu</th>
                    <th>Saatja</th>
                    <th>Kuupäev</th>
                    <th>Olek</th>
                </TableHeader>
                <RowTemplate>
                    <td style="width: 15%">@receipt.DeliveryNo</td>
                    <td style="width: 30%">@receipt.ToLocationName</td>
                    <td style="width: 30%">@receipt.FromLocationName</td>
                    <td style="width: 15%">@receipt.DeliveryDate.ToShortDateString()</td>
                    <td style="width: 10%">@receipt.StatusName</td>
                </RowTemplate>
            </PagedTableControl>

        </div>
    }
</div>


@code {
    private PagedList<DeliveryListItemDto> pagedReceipts;
    private DeliveryDropdowns dropdowns;
    private DeliveryListOptions options = new DeliveryListOptions { PageSize = 13 };
    private string title = "Ostutarned";

    protected override async Task OnInitializedAsync()
    {
        dropdowns = await ServiceProvider.GetService<IDeliveryDropdownsService>().GetPurchaseReceiptDropdowns();
        UpdateList();

        NavManager.LocationChanged += HandleLocationChanged;
    }

    private void UpdateList()
    {
        NavManager.SetParametersFromQueryString(options);
        pagedReceipts = ServiceProvider.GetService<IPurchaseDeliveryService>().ReceiptFilterPage(options);
    }

    void HandleOptionsChanged(int currentPage = 1)
    {
        options.CurrentPage = currentPage;

        string relativeUri = NavManager.GetPathAndQueryStringFromParameters(options);
        NavManager.NavigateTo(relativeUri);
    }

    void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        UpdateList();
        StateHasChanged();
    }

    private void HandleItemSelected(DeliveryListItemDto item)
    {
        NavManager.NavigateTo($"ostutarne/{item.DeliveryNoteId}?returnUrl={NavManager.ToBaseRelativePath(NavManager.Uri)}");
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= HandleLocationChanged;
    }
}
