@page "/laovastuvotulehed"
@inherits PagedListComponentBase<LocationDeliveryListItemDto, DeliveryListOptions> 

<div class="sidebar p-4">
    <h3 class="text-center text-white">@title</h3>

    <DeliveryReceiptListFilter Options="@Options" OptionsChanged="@(() => HandleOptionsChanged())" />
</div>

<div class="main p-3">
    @if (PagedList?.List == null)
    {
        <p class="text-secondary">Loading...</p>
    }
    else
    {
        <PagedTableControl PagedItems="@PagedList" TItem="LocationDeliveryListItemDto" Context="receipt"
                           ItemDblclicked="@((item) => HandleItemSelected($"vastuvotuleht/{item.DocumentId}"))"
                           PageChanged="@((cp) => HandleOptionsChanged(cp))">
            <TableHeader>
                <th>Nr.</th>
                <th>Saaja</th>
                <th>Saatja</th>
                <th>Kuupäev</th>
                <th>Olek</th>
            </TableHeader>
            <RowTemplate>
                <td style="width: 15%">@receipt.DocumentNo</td>
                <td style="width: 30%">@receipt.ToLocationName</td>
                <td style="width: 30%">@receipt.FromLocationName</td>
                <td style="width: 15%">@receipt.DocumentDate.ToShortDateString()</td>
                <td style="width: 10%">@receipt.StatusName</td>
            </RowTemplate>
        </PagedTableControl>
    }
</div>

<div class="sidebar"></div>

@code {
    string title = "Vastuvõtulehed";

    protected override void OnInitialized()
    {
        Options = new DeliveryListOptions { CurrentPage = 1, PageSize = 14, IsClosed = false };
        GetPagedList = (p) => ServiceProvider.GetService<ILocationDeliveryService>().ReceiptFilterPage(p);

        base.OnInitialized();
    }
}
