@page "/customers/details/{Id:int}"
@inject IServiceProvider ServiceProvider
@inject AppState AppState

<div class="d-flex justify-content-between bg-light border-bottom px-4 py-2">
    <h3 class="align-self-center m-0">Vaata klienti</h3>
    <div>
        <NavLink class="btn btn-primary" href="@GetListUrl()">Tagasi</NavLink>
        <NavLink class="btn btn-warning ml-2" href="@EditUrl">Muuda</NavLink>
    </div>
</div>

<div class="container-fluid">
    <div class="row px-3">

        <div class="col p-4">
            <div class="form-group">
                <label>Nimi</label>
                <input class="form-control" @bind="customer.Name" disabled />
            </div>
            <div class="form-group">
                <label>Registrikood</label>
                <input class="form-control" @bind="customer.RegNo" disabled />
            </div>
            <div class="form-group">
                <label>KMKR</label>
                <input class="form-control" @bind="customer.VATNo" disabled />
            </div>
        </div>

        <div class="col p-4">
            <div class="form-group">
                <label>Riik</label>
                <input class="form-control" @bind="customer.PayerAddress.Country.Name" disabled />
            </div>
            <div class="form-group">
                <label>Maakond</label>
                <input class="form-control" @bind="customer.PayerAddress.County" disabled />
            </div>

            <div class="form-row">
                <div class="form-group col-9">
                    <label>Linn</label>
                    <input class="form-control" @bind="customer.PayerAddress.City" disabled />
                </div>
                <div class="form-group col-3">
                    <label>Indeks</label>
                    <input class="form-control" @bind="customer.PayerAddress.PostCode" disabled />
                </div>
            </div>

            <div class="form-group">
                <label>Aadress</label>
                <input class="form-control" @bind="customer.PayerAddress.Address" disabled />
            </div>
        </div>

        <div class="col p-4">
            <div class="form-group">
                <label>Maksetingimus</label>
                <input class="form-control" @bind="customer.PaymentTerm.Name" disabled />
            </div>
            <div class="form-group">
                <label>Tarnetingimus</label>
                <input class="form-control" @bind="customer.DeliveryTermText" disabled />
            </div>
        </div>

        <div class="col p-4"></div>

    </div>

    <div class="row px-3">

        <div class="col p-4">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#contacts" role="tab">Kontaktid</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#consignees" role="tab">Saajad</a>
                </li>
            </ul>
            <div class="tab-content p-4">
                <div class="tab-pane show active" id="contacts" role="tabpanel">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Nimi</th>
                                <th>Amet</th>
                                <th>Mobiil</th>
                                <th>Telefon</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (customer.Contacts.Count == 0)
                            {
                                <p class="m-2"><em>Kontaktid puuduvad</em></p>
                            }
                            else
                            {
                                @foreach (var contact in customer.Contacts)
                                {
                                    <tr>
                                        <td>@contact.Name</td>
                                        <td>@contact.Job</td>
                                        <td>@contact.Mobile</td>
                                        <td>@contact.Phone</td>
                                        <td>@contact.Email</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="consignees" role="tabpanel">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Saaja</th>
                                <th>Riik</th>
                                <th>Maakond</th>
                                <th>Linn</th>
                                <th>Aadress</th>
                                <th>Indeks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (customer.ConsigneeAddresses.Count == 0)
                            {
                                <p class="m-2"><em>Saajad puuduvad</em></p>
                            }
                            else
                            {
                                @foreach (var address in customer.ConsigneeAddresses)
                                {
                                    <tr>
                                        <td>@address.Description</td>
                                        <td>@address.Country.Name</td>
                                        <td>@address.County</td>
                                        <td>@address.City</td>
                                        <td>@address.Address</td>
                                        <td>@address.PostCode</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>


@code {
    Customer customer = new Customer { PaymentTerm = new PaymentTerm() };

    [Parameter]
    public int Id { get; set; }

    string EditUrl => $"/customers/edit/{Id}";

    protected override async Task OnParametersSetAsync()
    {
        customer = await ServiceProvider.GetService<IGetCustomerService>().GetCustomer(Id);
    }

    private string GetListUrl()
    {
        AppState.BackToCustomerList = true;

        return "customers/list";
    }
}
