@page "/laotellimused"
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager
@inject AppState AppState

<SidebarMainSidebarComponent LeftTitle="Laotellimused">
    <LeftSidebarContent>
        @if (dropdowns == null)
        {
            <p class="text-secondary">Loading...</p>
        }
        else
        {
            <div class="py-2"></div>
            <SelectControlFormGroup Label="Komisjonilaod" FirstOption="Kõik komisjonilaod"
                                    Values="@dropdowns.CommissionLocations" @bind-Value="@options.LocationId"
                                    OnChangeCallback="@HandleOptionsChanged" />

            <div class="py-2"></div>
            <SelectControlFormGroupDocStatus @bind-Value="@options.IsClosed" OnChangeCallback="@HandleOptionsChanged" />

            <div class="mt-4 text-right">
                <button class="btn btn-primary" 
                        @onclick="@((item) => HandleItemSelected($"laotellimus/uus"))">Uus</button>
            </div>
        }
    </LeftSidebarContent>

    <MainContent>
        @if (pagedList?.List == null)
        {
            <p class="text-secondary">Loading...</p>
        }
        else
        {
            <PagedTableControl PagedItems="@pagedList" TItem="TransferOrderListItemDto" Context="order"
                               ItemDblclicked="@((item) => HandleItemSelected($"laotellimus/{item.OrderId}"))"
                               PageChanged="@HandlePageChanged">
                <TableHeader>
                    <th>Nr.</th>
                    <th>Kuupäev</th>
                    <th>Komisjoniladu</th>
                    <th>Tarneaeg</th>
                    <th>Olek</th>
                </TableHeader>
                <RowTemplate>
                    <td style="width: 15%">@order.OrderNo</td>
                    <td style="width: 15%">@order.OrderDate.ToShortDateString()</td>
                    <td style="width: 30%">@order.LocationName</td>
                    <td style="width: 15%">@order.DeliveryDate?.ToShortDateString()</td>
                    <td style="width: 15%">@order.StatusName</td>
                </RowTemplate>
            </PagedTableControl>
        }
    </MainContent>
</SidebarMainSidebarComponent>

@code {
    private TransferOrderListDropdowns dropdowns;
    private TransferOrderOptions options;
    private PagedList<TransferOrderListItemDto> pagedList;

    protected override async Task OnInitializedAsync()
    {
        await LoadDropdowns();
        InitializeOptions();

        UpdateList();
    }

    #region helpers
    private void InitializeOptions()
    {
        if (AppState.TransferOrderOptions?.IsReturnToList ?? false)
        {
            options = AppState.TransferOrderOptions;
            options.IsReturnToList = false;
        }
        else
        {
            options = new TransferOrderOptions { CurrentPage = 1, PageSize = 14, IsClosed = false };
            AppState.TransferOrderOptions = options;
        }
    }

    private async Task LoadDropdowns()
    {
        dropdowns = await ServiceProvider.GetService<ITransferOrderDropdownsService>().GetCommissionTransferOrderListDropdowns();
    }

    private void UpdateList()
    {
        pagedList = ServiceProvider.GetService<ITransferOrderListService>().GetPage(options);
    }
    #endregion

    #region event handlers
    private void HandleOptionsChanged()
    {
        options.CurrentPage = 1;
        UpdateList();
    }

    private void HandlePageChanged(int selectedPage)
    {
        options.CurrentPage = selectedPage;
        UpdateList();
    }

    private void HandleItemSelected(string itemUrl)
    {
        NavManager.NavigateTo(itemUrl);
    }
    #endregion
}
