@page "/arved"
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager

<div class="sidebar py-2 px-4">
    <h3 class="text-center text-white mb-5">Müügiarved</h3>

    <h6 class="text-white mt-5">Loendi filter</h6>
    <SalesInvoiceListFilter Options="@Options" OptionsChanged="OnOptionsChanged" />
</div>

    <div class="main p-3">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Arve nr.</th>
                    <th>Klient</th>
                    <th>Saaja</th>
                    <th>Kuupäev</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var invoice in pagedSalesInvoices.List)
                {
                    <tr class="@(invoice == selectedItem ? "bg-primary text-white" : "")" @onclick="@(() => selectedItem = invoice)"
                        @ondblclick="@(() => NavManager.NavigateTo($"/arve/{invoice.InvoiceId}"))"
                        style="cursor: default;">
                        <td>@invoice.InvoiceNo</td>
                        <td>@invoice.CustomerName</td>
                        <td>@invoice.ConsigneeName</td>
                        <td>@invoice.InvoiceDate.ToShortDateString()</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="row">
            <div class="col">
                <NavLink class="btn btn-primary" href="/arve/uus">Uus arve</NavLink>
            </div>
            <div class="col-auto">
                <Pager Result="pagedSalesInvoices" PageChanged="PagerPageChanged" />
            </div>
            <div class="col text-right">
                <p class="text-muted">Tellimusi: @pagedSalesInvoices.ItemsCount</p>
            </div>
        </div>
    </div>


@code {
    private PagedList<SalesInvoiceListItemDto> pagedSalesInvoices;
    private SalesInvoiceListItemDto selectedItem;

    public SalesInvoiceListOptions Options { get; set; } = new SalesInvoiceListOptions { PageSize = 15, CurrentPage = 1, InvoiceStatus = InvoiceStatus.Open };

    protected override void OnInitialized()
    {
        UpdateList();
    }

    #region helpers
    private void UpdateList()
    {
        pagedSalesInvoices = ServiceProvider.GetService<ISalesInvoiceListService>().FilterPage(Options);
    }
    #endregion

    #region event handlers
    private void OnOptionsChanged()
    {
        Options.CurrentPage = 1;
        UpdateList();
    }

    private void PagerPageChanged(int currentPage)
    {
        Options.CurrentPage = currentPage;
        UpdateList();
        StateHasChanged();
    }
    #endregion
}
