@page "/arve/{id:int}"
@page "/kreeditarve/{id:int}"
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager

<div class="d-flex flex-column vw-100 px-3">
    <nav class="navbar navbar-light border-bottom">
        <span class="navbar-brand font-weight-bold">@title</span>

        <div class="d-flex ml-auto">
            <NavLink class="btn btn-primary" href="@GetReturnUrl()">Tagasi</NavLink>
        </div>
    </nav>

    <div class="row my-3 mx-0">
        <div class="col-2">
            <div class="form-group row">
                <label class="col-5 col-form-label text-right">Arve nr.</label>
                <div class="col-7">
                    <input class="form-control" value="@invoice.InvoiceNo" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-5 col-form-label text-right">Kuupäev</label>
                <div class="col-7">
                    <input class="form-control" value="@invoice.InvoiceDate.ToShortDateString()" disabled>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group row">
                <label class="col-3 col-form-label text-right">Klient</label>
                <div class="col-9">
                    <input class="form-control" value="@invoice.CustomerName" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label text-right">Aadress</label>
                <div class="col-9">
                    <textarea class="form-control" rows="3" value="@invoice.CustomerAddress" disabled
                              style="resize: none;" />
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group row">
                <label class="col-3 col-form-label text-right">Saaja</label>
                <div class="col-9">
                    <input class="form-control" value="@invoice.ConsigneeName" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label text-right">Aadress</label>
                <div class="col-9">
                    <textarea class="form-control" rows="3" value="@invoice.ConsigneeAddress" disabled
                              style="resize: none;" />
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">Tarnetingimus</label>
                <div class="col-8">
                    <input class="form-control" value="@invoice.DeliveryTermName" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">Makseaeg</label>
                <div class="col-8">
                    <input class="form-control" value="@invoice.PaymentDays" disabled>
                </div>
            </div>
        </div>

        <div class="col-2">
            <div class="form-group row">
                <label class="col-6 col-form-label text-right">Soodustus (%)</label>
                <div class="col-6">
                    <input class="form-control" value="@invoice.FixedDiscountPercent" disabled>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-6 col-form-label text-right">Käibemaks (%)</label>
                <div class="col-6">
                    <input class="form-control" value="@invoice.VATPercent" disabled>
                </div>
            </div>
        </div>
    </div>

    <ScrollableTableControl Items="@invoice.SalesInvoiceLines" Context="item" CSSClass="flex-grow-1">
        <TableHeader>
            <th>Kood</th>
            <th>Nimetus</th>
            <th class="text-right">Kogus</th>
            <th class="text-right">Hind</th>
            <th class="text-right">Ale%</th>
        </TableHeader>
        <RowTemplate>
            <td>@item.ProductCode</td>
            <td>@item.ProductName</td>
            <td class="text-right">@item.Quantity</td>
            <td class="text-right">@item.UnitPrice</td>
            <td class="text-right">@item.LineDiscountPercent</td>
        </RowTemplate>
        <TableFooter>
            <th colspan="4" class="text-right">Kogus kokku:</th>
            <th class="text-right">@totalQuantity</th>
        </TableFooter>
    </ScrollableTableControl>
</div>


@code {
    string title;
    SalesInvoiceDto invoice = new SalesInvoiceDto();
    int totalQuantity;

    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        title = NavManager.ToBaseRelativePath(NavManager.Uri).ToLower().Contains("kreeditarve")
            ? "Kreedit-arve"
            : "Müügiarve";

        if (Id != 0)
        {
            invoice = await ServiceProvider.GetService<ISalesInvoiceService>().GetInvoice(Id);
            SetTotals();
        }
    }

    #region helpers
    void SetTotals()
    {
        totalQuantity = invoice.SalesInvoiceLines.Sum(l => l.Quantity);
    }

    string GetReturnUrl()
    {
        string searchString = "returnurl=";
        string relativePath = NavManager.ToBaseRelativePath(NavManager.Uri);

        string returnUrl = string.Empty;
        if (relativePath.ToLower().Contains(searchString))
        {
            returnUrl = relativePath.Substring(relativePath.ToLower().IndexOf(searchString) + searchString.Length);
        }

        return returnUrl;
    }
    #endregion
}
