@page "/tooted"
@page "/tooted/return"
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager
@inject AppState AppState

<div class="sidebar py-2 px-4">
    <h3 class="text-center text-white mb-5">Tooted</h3>

    <h6 class="text-white">Ava toode</h6>
    <input class="form-control mb-5" placeholder="Sisesta toote kood" disabled />

    <h6 class="text-white">Loendi filter</h6>
    @if (Options == null || Dropdowns == null)
    {
        <p class="text-secondary">Loading...</p>
    }
    else
    {
        <ProductListFilterComponent Options="@Options" Dropdowns="@Dropdowns" OptionsChanged="OnOptionsChanged" />
    }
</div>

<div class="main">
    @if (pagedProductBases?.List == null)
    {
        <p class="text-secondary m-2">Loading...</p>
    }
    else
    {
        <ul class="product-cards">
            @foreach (var pb in pagedProductBases.List)
            {
            <li style="background-image: url('/img/products/small/@(pb.Code).jpg')">
                <div class="product-info" @onclick="@(() => NavManager.NavigateTo(GetProductLink(pb.Id)))">
                    @pb.Name
                    @*<span class="content">@pb.Name</span>*@
                    <span class="code">@pb.Code</span>
                    @*<span class="stock" @onclick="@(() => NavManager.NavigateTo("/tooted/uus"))">Laos</span>*@
                </div>
                <span class="stock" @onclick="@(() => AddProductInfo(pb.Code))">Laos</span>
            </li>
            }
        </ul>

        <div class="row mx-5">
            <div class="col">
                <NavLink class="btn btn-primary" href="/tooted/uus">Lisa uus toode</NavLink>
            </div>
            <div class="col-auto">
                <Pager Result="pagedProductBases" PageChanged="PagerPageChanged" />
            </div>
            <div class="col text-right">
                <p class="text-muted">Tooteid: @pagedProductBases.ItemsCount</p>
            </div>
        </div>
    }
</div>

<div class="sidebar py-2 px-3">

    <button type="button" class="btn btn-primary mb-2" @onclick="@(() => ProductInfoList.Clear())"
            hidden="@(ProductInfoList.Count < 2)">
        Eemalda kõik (@(ProductInfoList.Count))
    </button>

    @if (ProductInfoList.Count == 0)
    {
        <h3 class="text-center text-secondary mt-auto">Toote info</h3>
        <p class="text-center text-secondary mb-auto">Toote info vaatamiseks kliki toote pildil laoseisu märgisele</p>
    }
    else
    {
        @foreach (var info in ProductInfoList)
        {
            <ProductInfoComponent ProductInfo="@info" ProductInfoRemoved="OnProductInfoRemoved" />
        }
    }

</div>


@code {
    PagedList<ProductBase> pagedProductBases;

    public ProductListOptions Options { get; set; } = new ProductListOptions { PageSize = 20, CurrentPage = 1 };

    public ProductDropdowns Dropdowns { get; set; }

    public IList<ProductInfo> ProductInfoList { get; set; } = new List<ProductInfo>();

    protected override async Task OnInitializedAsync()
    {
        Dropdowns = await ServiceProvider.GetService<IProductDropdownsService>().GetProductDropdowns();
    }

    protected override void OnParametersSet()
    {
        if (NavManager.Uri.Contains("return"))
        {
            Options = AppState.ProductListOptions ?? Options;
        }
        else
        {
            AppState.ProductListOptions = null;
        }

        UpdateList();
    }

    #region helpers
    void UpdateList()
    {
        pagedProductBases = ServiceProvider.GetService<IProductBaseService>().GetFilterPage(Options);
    }

    string GetProductLink(int id)
    {
        AppState.ProductListOptions = Options;
        return $"/tooted/{id}";
    }

    void AddProductInfo(string productCode)
    {
        var productInfo = ProductInfoList.FirstOrDefault(p => p.ProductCode == productCode);
        if (productInfo != null)
        {
            ProductInfoList.Remove(productInfo);
        }

        productInfo = new ProductInfo
        {
            ProductCode = productCode,
            Inventory = new List<ProductInStock>
            {
                new ProductInStock { Warehouse = "Eesti", Quantity = 4 },
                new ProductInStock { Warehouse = "Eksport", Quantity = 3 },
                new ProductInStock { Warehouse = "Näidiste ladu", Quantity = 1 },
            }
        };

        ProductInfoList.Insert(0, productInfo);
    }
    #endregion

    #region event handlers
    void PagerPageChanged(int currentPage)
    {
        Options.CurrentPage = currentPage;
        UpdateList();
        StateHasChanged();
    }

    void OnOptionsChanged()
    {
        Options.CurrentPage = 1;
        UpdateList();
    }

    void OnProductInfoRemoved(ProductInfo info)
    {
        ProductInfoList.Remove(info);
    }
    #endregion
}
