@typeparam TItem

<table class="table table-hover" style="cursor: default" @attributes="@AdditionalAttributes">
    <thead class="thead-light">
        <tr>@TableHeader</tr>
    </thead>
    <tbody>
        @foreach (var item in PagedItems.List)
        {
            <tr class="@(item == selectedItem ? "bg-primary text-white" : "")"
                @onclick="@(() => { selectedItem = item; ItemClicked.InvokeAsync(item); })"
                @ondblclick="@(() => ItemDblclicked.InvokeAsync(item))">
                @RowTemplate(item)
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <Pager Result="PagedItems" PageChanged="@((cp) => PageChanged.InvokeAsync(cp))" />
    </div>
    <div class="col text-right">
        <p class="text-muted pt-3">Kirjeid: @PagedItems.ItemsCount</p>
    </div>
</div>

